{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce - {% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% block style %}{% endblock %}
</head>
<body>
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">{{ message }}</div>
        {% else %}
            <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endif %}
    {% endfor %}

    <div class="container px-4 pt-3 mt-5 text-center" style="max-width: 350px; border: 2px solid #b6b6b6; border-radius: 15px;">
        <img class="mb-3" src="{% static 'logo.svg' %}" style="width: 12rem;">
        {% block content %}{% endblock %}
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>