{% extends 'authentication/base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
<form action="" method="post"> {% csrf_token %}
    <div class="form-group">
        {{form.as_p}}
    </div>
    <div class="form-group text-center my-2">
        <input class="btn btn-primary font-weight-bold" type="submit" value="Login">
    </div>
</form>
<div class="text-center mb-2">
    Don't you have an account? <a href="{% url 'signup' %}">Signup</a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inp = document.querySelector('#id_password')
        let count = 1

        inp.onmouseover = () => {
            if (inp.type === 'password' && count === 0) {
                inp.type = 'text'
                count += 1
            } else if (inp.type === 'text' && count === 0) {
                inp.type = 'password'
                count += 1
            }
        }

        inp.onmouseleave = () => {
            count = 0
        }

    });
</script>
{% endblock %}