{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce - {% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    <style>
        #form-div {
            margin: 1.25rem auto;
            max-width: 400px;
        }

        .errorlist {
            color: red;
            list-style: none;
            margin-bottom: 0.2rem;
            text-align: right;
        }
        
        .price {
            font-size: 1.75rem;
        }

        h1 {
            font-size: 3.25rem;
        }
    </style>
</head>
<body>
    <header >
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img class="mb-2" src="{% static 'logo-blanco.svg' %}" style="width: 12rem;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle"
                                    type="button" id="drop-meu" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{user.username}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0 justify-content-center">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="margin-top: 4rem;">{{ message }}</div>
            {% else %}
                <div class="alert alert-{{message.tags}}" style="margin-top: 4rem;">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="container text-center mt-2">
    {% elif profile%}
        <div class="container text-center" style="padding-top: 4.8rem;">
    {% else %}
        <div class="container" style="padding-top: 4.8rem;">
    {% endif %}

            {% block content %}{% endblock %}
        </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>