{% extends 'store/base.html' %}
{% load static %}

{% block title %} Delete product {% endblock %}

{% block content %}
    <h1 class="mb-4 text-center">Delete a product</h1>

    <form action="" method="post"> {% csrf_token %}
        <p class="text-center">Are you sure you want to delete <b>"{{product}}"</b>?</p>
        <div class="form-group text-center my-2">
            <input class="btn btn-danger mr-2" name="delete" type="submit" value="Delete">
            <input class="btn btn-primary ml-2" type="submit" value="Go to index">
        </div>
    </form>
{% endblock %}