{% extends 'store/base.html' %}
{% load static %}

{% block title %} Index {% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Last products</h1>
    <hr>
    {% for product in products %}
        <div class="mb-4">
            <div class="d-flex justify-content-between">
                <h2 class="m-0">{{product.name}}</h2>
                <p class="price m-0">{{product.price}}$</p>
            </div>
            <a href="{% url 'view_profile' profile=product.seller %}" class="m-0">{{product.seller}}</a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}