{% extends 'store/base.html' %}
{% load static %}

{% block title %} Index {% endblock %}

{% block style %}
<style>
    .price {
        font-size: 1.75rem;
    }

    .margin0 {
        margin: 0;
    }
</style>
{% endblock %}

{% block content %}
    <h1 class="text-center my-4">Last products</h1>
    <hr>
    {% for product in products %}
        <div class="mb-4">
            <div class="d-flex justify-content-between margin0">
                <h2 class="margin0">{{product.name}}</h2>
                <p class="price margin0">{{product.price}}$</p>
            </div>
            <p class="margin0">{{product.seller}}</p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}