{% extends 'store/base.html' %}
{% load static %}

{% block title %} Orders {% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Orders</h1>
    <hr>
    {% for product, state, quantity, date in products_state %}
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            {% if product.image %}
            <div class="d-inline">
                <img class="index-images" src="{{product.image.url}}" alt="{{product.name}}">
            </div>
            {% endif %}
            <div class="d-inline-flex flex-column ml-2">
                <a href="{% url 'product' product_name=product.name %}" class="product-headers">
                    <h2 class="m-0">{{product.name}}</h2>
                </a>
                <h2 class="d-inline m-0">X{{quantity}}</h2>
            </div>
        </div>
        <div class="delivery-state d-flex flex-column align-items-center align-items-md-end">
            <div class="d-flex justify-content-center align-items-center flex-md-row flex-column">
                <span>State:</span>
                <span class="ml-md-2 js-state">{{state}}</span>
            </div>
            <p class="text-dark text-center">{{date|date:"j F Y"}}</p>
        </div>
    </div>
    <hr>
    {% empty %}
    <h3 class="text-center">Anyone has bought your products yet.</h3>
    {% endfor %}
{% endblock %}

{% block script %}
<script src="{% static 'store/orders.js' %}"></script>
{% endblock %}