{% extends 'store/base.html' %}
{% load static %}

{% block title %} Orders {% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Orders</h1>
    <hr>
    {% for product, state, quantity, date, id in products_state %}
    <div class="d-block d-md-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            {% if product.image %}
            <div class="d-inline">
                <img class="index-images" src="{{product.image.url}}" alt="{{product.name}}">
            </div>
            {% endif %}
            <a href="{% url 'view_order' id=id %}" class="product-headers">
                <div class="d-inline-flex flex-column ml-2">
                    <h2 class="m-0">{{product.name}}</h2>
                    <h2 class="d-inline m-0">X{{quantity}}</h2>
                </div>
            </a>
        </div>
        <div class="delivery-state mt-2 mt-md-0 d-flex flex-row justify-content-between flex-md-column align-items-end">
            <div class="d-inline">
                <span>State:</span>
                <span class="js-state">{{state}}</span>
            </div>
            <div class="text-dark text-center d-inline">{{date|date:"j F Y"}}</div>
        </div>
    </div>
    <hr>
    {% empty %}
    <h3 class="text-center">Anyone has bought your products yet.</h3>
    {% endfor %}
{% endblock %}

{% block script %}
<script src="{% static 'store/orders.js' %}"></script>
{% endblock %}