{% extends 'store/base.html' %}
{% load static %}

{% block title %} {{product.name}} {% endblock %}

{% block content %}
    <h1 class="text-center product-title mb-3">{{product.name}}</h1>
    <h3 class="text-center mb-4"><a href="{% url 'view_profile' profile=product.seller %}">{{product.seller}}</a></h3>

    <div class="d-md-flex">
        <div class="mr-md-3 mb-4 mb-md-0 text-center">
            {% if product.image %}
                <img class="product-images" src="{{product.image.url}}" alt="{{product.name}}">
            {% endif %}
            <p class="price mb-1">Price: {{product.price|floatformat:"-2"}}$</p>
            <a class="btn btn-primary w-75 mb-2" href="{% url 'buy' product_name=product.name %}">Buy product</a>
            <a class="btn btn-primary w-75" href="{% url 'add_to_cart' product_name=product.name %}">Add to cart</a>
        </div>

        <div class="d-inline-flex flex-column text-justify">
            {% for paragraph in product.split_description %}
                <p class="mb-2">{{paragraph}}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}