{% extends 'store/base.html' %}
{% load static %}

{% block title %} Results {% endblock %}

{% block content %}
    {% if results_ascendant %}
    <h1 class="text-center mb-2">Results for "{{query}}"</h1>

    <div class="d-flex justify-content-center align-items-center">
        <p class="m-0">Order by price:</p>
        <button class="filter-button text-primary mx-2" id="price_ascendant">Ascendant</button>
        <button class="filter-button text-primary" id="price_descendant">Descendant</button>
    </div>

    <div id="results_ascendant">
        <hr>
        {% for product in results_ascendant %}
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                {% if product.image %}
                <div class="d-inline">
                    <img class="index-images" src="{{product.image.url}}" alt="{{product.name}}">
                </div>
                {% endif %}
                <div class="d-inline-flex flex-column">
                    <a href="{% url 'product' product_name=product.name %}" class="product-headers">
                        <h2 class="m-0">{{product.name}}</h2>
                    </a>
                    <a href="{% url 'view_profile' profile=product.seller %}" class="m-0">{{product.seller}}</a>
                </div>
            </div>
            <p class="price m-0">{{product.price|floatformat:"-2"}}$</p>
        </div>
        <hr>
        {% endfor %}
    </div>

    <div id="results_descendant" style="display: none;">
        <hr>
        {% for product in results_descendant %}
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                {% if product.image %}
                <div class="d-inline">
                    <img class="index-images" src="{{product.image.url}}" alt="{{product.name}}">
                </div>
                {% endif %}
                <div class="d-inline-flex flex-column">
                    <a href="{% url 'product' product_name=product.name %}" class="product-headers">
                        <h2 class="m-0">{{product.name}}</h2>
                    </a>
                    <a href="{% url 'view_profile' profile=product.seller %}" class="m-0">{{product.seller}}</a>
                </div>
            </div>
            <p class="price m-0">{{product.price|floatformat:"-2"}}$</p>
        </div>
        <hr>
        {% endfor %}
    </div>

    {% else %}
    <h2 class="text-center mt-2">There are no products with the query you have made</h3>
    {% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'store/search.js' %}"></script>
{% endblock %}