{% extends 'store/base.html' %}
{% load static %}

{% block title %} Results {% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Results for "{{query}}"</h1>
    <hr>
    {% for product in results %}
    <div class="d-flex justify-content-between align-items-center">
        <div>
            {% if product.image %}
            <div class="d-inline">
                <img class="index-images" src="{{product.image.url}}" alt="{{product.name}}">
            </div>
            {% endif %}
            <div class="d-inline-flex flex-column">
                <a href="{% url 'product' product_name=product.name %}" class="product-headers">
                    <h2 class="m-0">{{product.name}}</h2>
                </a>
                <a href="{% url 'view_profile' profile=product.seller %}" class="m-0">{{product.seller}}</a>
            </div>
        </div>
        <p class="price m-0">{{product.price|floatformat:"-2"}}$</p>
    </div>
    <hr>
    {% empty %}
        <h3 class="text-center">There are no products with the query you have made</h3>
    {% endfor %}
{% endblock %}