{% extends 'store/base.html' %}
{% load static %}

{% block title %} View profile {% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Seller: {{username}}</h1>
    <hr>
    {% for product in products %}
        <div class="mb-4">
            <div class="d-flex justify-content-between">
                <h2 class="m-0">{{product.name}}</h2>
                <p class="price m-0">{{product.price}}$</p>
            </div>
        </div>
        <hr>
    {% empty %}
        <h3 class="text-center">There are no products sold by {{username}}</h3>
    {% endfor %}
{% endblock %}