{% extends 'store/base.html' %}
{% load static %}

{% block title %} Order {% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Order of {{order.product}}</h1>
    
    <table class="table table-borderless text-center">
        <thead class="thead-light">
            <tr>
                <th>Product</th>
                <th>Buyer</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{order.product}}</td>
                <td>{{order.buyer}}</td>
                <td>{{order.address}}</td>
            </tr>
        </tbody>
        <tbody><tr><td></td></tr></tbody>
        <thead class="thead-light">
            <tr>
                <th>Quantity</th>
                <th>Date</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{order.quantity}}</td>
                <td>{{order.date|date:"j F Y"}}</td>
                <!-- <td id="order-state">{{order.state}}</td> -->
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{order.state}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <button class="btn btn-light dropdown-item">In progress</button>
                          <button class="btn btn-light dropdown-item">Delivered</button>
                        </div>
                      </div>                      
                </td>
            </tr>
        </tbody>
    </table>
    <p style="display: none;" id="order-id">{{order.id}}</p>
    {% csrf_token %}
{% endblock %}

{% block script %}
<script src="{% static 'store/view-order.js' %}"></script>
{% endblock %}