{% extends 'store/base.html' %}
{% load static %}

{% block title %} {{username}} {% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Seller: {{username}}</h1>
    <hr>
    {% for product in products %}
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            {% if product.image %}
            <div class="d-inline">
                <img class="index-images" src="{{product.image.url}}" alt="{{product.name}}">
            </div>
            {% endif %}
            <div class="d-inline-flex flex-column ml-2">
                <a href="{% url 'product' product_name=product.name %}" class="product-headers">
                    <h2 class="m-0">{{product.name}}</h2>
                </a>
            </div>
        </div>
        <div class="price d-flex flex-column">{{product.price|floatformat:"-2"}}$</div>
    </div>
    <hr>
    {% empty %}
        <h3 class="text-center">There are no products sold by {{username}}</h3>
    {% endfor %}
{% endblock %}